#gameBoard .row {
  height: 100px;
}

div#gameBoard {
    text-align: center;
    font-size: 70px;
}

.row.one {
    border-bottom: 7px solid #000;
}

.row.two {
    border-bottom: 7px solid #000;
}


.col-xs-4.one {
    border-right: 7px solid black;
    min-height: 100px;
}

.col-xs-4.two {
    min-height: 100px;
}

.col-xs-4.three {
    border-left: 7px solid black;
    min-height: 100px;
}

h1 {
    text-align: center;
}